[submodule "ec_gcm"]
	path = ec_gcm
	url = git@github.com:gregcusack/ec_gcm.git
[submodule "EC-Agent"]
	path = EC-Agent
	url = git@github.com:Maziyar-Na/EC-Agent.git
[submodule "ec_deployer"]
	path = ec_deployer
	url = git@github.com:gregcusack/ec_deployer.git
